* {
  box-sizing: border-box;
}

html,
body {
  cursor: default;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

a {
  cursor: default;
  text-decoration: none;
  color: currentColor;
}
