.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 19px;
  padding-right: 19px;
  width: auto;
  height: 50px;
  align-items: center;
  border: 2px solid var(--color-gray);
  border-radius: 25px;
  transition: 0.2s ease-in-out;
}

.btn__icon {
  width: 22px;
  height: 22px;
}

.btn:hover {
  background-color: var(--color-light-blue);
}
