.container__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 3px 15px 0 var(--color-black-o-10);
}

.card__frame {
  flex: 0 0 auto;
  position: relative;
  height: 124px;
  border: 5px solid var(--color-white);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 20px 20px 0 0;
}

.card__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 8px;
  padding: 4px 15px 15px 15px;
}

.card__title {
  margin-bottom: 8px;
}

.container__large--card {
  margin-top: 30px;
}

.large--card {
  display: flex;
  height: 146px;
  margin-bottom: 30px;
  background-color: var(--color-white);
  border-radius: 15px;
}

.large--card__frame {
  width: 33.33%;
  min-width: 33.33%;
  height: 146px;
  border: 5px solid var(--color-white);
  border-right: 0;
  border-radius: 20px 0 0 20px;

  position: relative;
  overflow: hidden;
}

.large--card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 15px 0 0 15px;
  position: absolute;
  inset: 0;
}

.large--card__info {
  position: relative;
  margin: 10px 5px 0 15px;
}

.large--card__title {
  margin-bottom: 5px;
}

.large--card__icon {
  position: absolute;
  bottom: 10px;
}

.high--card {
  width: 23.29%;
  border-radius: 20px;
  box-shadow: 0 3px 15px 0 var(--color-black-o-10);
}

.high--card__frame {
  width: 100%;
  padding-bottom: 127.938%;
  position: relative;
  overflow: hidden;
}

.high--card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  border-radius: 20px 20px 0 0;
}

.high--card__text {
  margin: 20px 19px;
}

@media screen and (max-width: 1024px) {
  .container__large--card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .large--card {
    width: 1fr;
  }

  .high--card__frame {
    padding-bottom: 139.53%;
  }
}

@media screen and (max-width: 767px) {
  .container__card,
  .container__large--card {
    display: flex;
    flex-direction: column;
  }

  .high--card {
    width: 100%;
  }

  .high--card__frame {
    padding-bottom: 63.49%;
  }
}
