.label {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 700;
}

.label--big {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
}

.label--small {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
}

.label--big--white {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white);
}
