.text,
.text-h-blue {
  font-size: 16px;
  text-decoration: none;
  color: var(--color-black);
}

.text-h-blue:hover {
  color: var(--color-blue);
}

.text--small {
  font-size: 14px;
  color: var(--color-black);
}
