.accomodation {
  display: flex;
}

.accomodation__container,
.popular-accomodation__container {
  background-color: var(--color-light-gray);
  border-radius: 15px;
  padding: 30px 30px 0px 30px;
  height: 614px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .popular-accomodation__container {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .accomodation__container,
  .popular-accomodation__container {
    height: auto;
    padding: 20px 20px 0 20px;
  }
}
