.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  padding-bottom: 5px;
  background-color: var(--color-gray);
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 50px;
}
