.menu,
.menu-phone {
  display: grid;
}

.menu {
  grid-template-columns: repeat(2, 113px);
  gap: 68px;
  justify-items: start;
}

.menu-phone {
  grid-template-columns: repeat(2, 1fr);
}

.menu .menu-content {
  padding-top: 14px;
  padding-right: 0;
  cursor: pointer;
}

.menu .menu-content:hover {
  transition: 0.2s ease-in-out;

  border-top: 2px solid var(--color-blue);
  color: var(--color-blue);
}

.menu-phone .menu-phone-content {
  padding-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.menu-phone .menu-phone-text:hover {
  transition: 0.2s ease-in-out;

  border-bottom: 2px solid var(--color-blue);
  color: var(--color-blue);
}
